.container {
  display: flex;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: calc(100vh - 120px);
  padding: 20px;
  background-image: url("../images/beach-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  .title {
    border-left: 5px solid white;
    width: 325px;
    padding: 0 25px;
    margin: 40px;
  }
  h1 {
    font-size: 75px;
    font-weight: 400;
    margin-bottom: 0;
    font-family: "Rajdhani", sans-serif;
  }
  .info {
    margin-left: 38px;
    width: 530px;
    font-size: 22px;
  }
}
